[submodule "odysseus-session"]
	path = odysseus-session
	url = https://github.com/sdkjkdjdkjdjd/odysseus-session
[submodule "odysseus-dock"]
	path = odysseus-dock
	url = https://github.com/sdkjkdjdkjdjd/odysseus-dock
[submodule "odysseus-launcher"]
	path = odysseus-launcher
	url = https://github.com/sdkjkdjdkjdjd/odysseus-launcher
[submodule "odysseus-desktop"]
	path = odysseus-desktop
	url = https://github.com/sdkjkdjdkjdjd/odysseus-desktop
[submodule "iliad"]
	path = iliad
	url = https://github.com/sdkjkdjdkjdjd/iliad
[submodule "odysseus-qt-plugins"]
	path = odysseus-qt-plugins
	url = https://github.com/sdkjkdjdkjdjd/odysseus-qt-plugins
[submodule "odysseus-kwin-plugins"]
	path = odysseus-kwin-plugins
	url = https://github.com/sdkjkdjdkjdjd/odysseus-kwin-plugins
